
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #f0f4f8, #d9e2ec);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 10px 10px;
    background-color: #00796b;
    color: #fff;
    width: 100%;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

header h1 {
    font-weight: 700;
    vertical-align: text-top;
}

header p {
    margin-top: 10px;
    vertical-align: text-top;
}

.top-logo.left {
    height: auto;
    width: 70%;  
    top: 0px;
    vertical-align: text-top;

}

.top-logo.right {
    width: 31%;
    vertical-align: text-top;
    height: auto;
}

.container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
}

.container1{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;  
    flex-grow: 0;
}

.container2{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.container3{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center; 
    width: 1px;
}

.container1, .container3{
    width: 30%;
    height: auto;
    flex-shrink: 0;
    align-items: flex-end;
    justify-content: center;
    align-content: flex-start;
}

.container1 img, .container3 img{
   
    object-fit: contain;
}


main {
    margin: 20px auto;     width: 80%;
    max-width: 500px;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease-in-out;
    flex: 1; 
}

label, select, button {
    display: block;
    width: 100%;
    margin: 15px 0;
    font-size: 1em;
}

select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: inherit;
}

button {
    background-color: #00796b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005a4c;
}

#contactDisplay {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 10px;
}

#departmentLogo {
    width: 50px;
    height: 50px;
    display: block;
}

footer {
    margin-top: auto;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: #333;
    color: #fff;
    font-size:
}

@media (max-width: 670px) {
    .top-logo.right {
        width: 50%;
    }

    .top-logo.left {
        width: 125%;
    }    

    .text {
        display: none;
    }
}