
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #f0f4f8, #d9e2ec);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 40px 30px;
    background-color: #00796b;
    color: #fff;
    width: 100%;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

header h1 {
    font-size: 2.5em;
    font-weight: 700;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

.top-logo.left {
    width: 300px; 
    position: absolute;
    top: 0px;
    left: 20px;
}

.top-logo.right {
    right: 100px;
    top: 15px;
    width: 120px;
    position: absolute;
}

main {
    margin: 20px auto;     width: 80%;
    max-width: 500px;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease-in-out;
    flex: 1; 
}

label, select, button {
    display: block;
    width: 100%;
    margin: 15px 0;
    font-size: 1em;
}

select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: inherit;
}

button {
    background-color: #00796b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005a4c;
}

#contactDisplay {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 10px;
}

#departmentLogo {
    width: 50px;
    height: 50px;
    display: block;
}

footer {
    margin-top: auto;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: #333;
    color: #fff;
    font-size:
}

@media (max-width:600px){
    header h1{
        font-size: 15px;
        margin-top: -20px;
        margin-left: 80px;
        margin-right: 80px;
        text-align: center;
    }

    header p {
        font-size: 7px;
        margin-top: 5px;
        margin-left: 80px;
        margin-right: 80px;
        text-align: center;
    }

    .top-logo.left{
        width: 40%;
        left: -5%;
        max-width: 100%;
    }
    
    .top-logo.right{
        width: 15%;
        top: 10px;
        right: 10%;
        max-width: 100%;
    }

    header {
        height: 90px;
    }

    main{
        margin-bottom: 100px;
    }

    
}    